/ Projects Row
.row
  .col-lg-12
    %h1.page-header
      Editar mi Cuenta
      %small= current_user.full_name
    %ol.breadcrumb
      %li
        %a{:href => "/"} Inicio
      %li.active Edició de Cuenta
.panel.panel-primary.col-lg-12
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .field
      = f.label :first_name
      %br/
      = f.text_field :first_name, autofocus: true, class: 'form-control', required: true
    .field
      = f.label :last_name
      %br/
      = f.text_field :last_name, autofocus: true, class: 'form-control', required: true
    .field
      = f.label :username
      %br/
      = f.text_field :username, autofocus: true, class: 'form-control', required: true
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, class: 'form-control', required: true
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Esperando confirmación de: #{resource.unconfirmed_email}
    .field
      = f.label :password
      %i (Dejar en blanco si no se desea cambiar)
      %br/
      = f.password_field :password, autocomplete: "off", class: 'form-control'
      - if @minimum_password_length
        %br/
        %em
          = @minimum_password_length
          caracteres minimo
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      %br/
    .field
      = f.label :avatar
      = f.file_field :avatar
      = f.hidden_field :avatar_cache
      %br/
      = image_tag(resource.avatar, width: '200px') if resource.avatar?
      %br/
      %br/
    .field
      = f.label :current_password
      %i (Requerido para realizar los cambios)
      %br/
      = f.password_field :current_password, autocomplete: "off", class: 'form-control', required: true
    .actions
      %br/
      = f.submit "Actualizar", class: 'btn btn-primary'
      = link_to "Regresar a mi cuenta", current_user, class: 'btn btn-default'
- if can? :destroy, User 
  .panel.panel-primary.col-lg-12
    %h3 Cancelar cuenta
    %p
      No quieres seguir registrado? #{button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro que deseas cancelar tu cuenta?" }, method: :delete, class: 'btn btn-danger'}
