%ul
  %li
    %a{:href => "#{root_path}", :title => "#{t('layouts.application.home')}"}
      %img{:alt => "", :src => "/assets/default/img/icon-home.png"}
      =t('layouts.application.home')
      %span.menu-button--direction
        %i.fa.fa-angle-right
  - unless signed_in?
    %li
      %a{:href => "#", :title => "#{t('devise.links.sign_in')}", :data => {:toggle => 'modal', :target => '#loginModal'}}
        %img{:alt => "", :src => "/assets/default/img/icon-login.png"}
        = 'Inicia Sesión/Registro'
        %span.menu-button--direction
          %i.fa.fa-angle-right
    %li
      %a{:href => "#{new_contact_path}", :title => 'Contactanos'} 
        %img{:alt => "", :src => "/assets/default/img/icon-contact.png"}
        = 'Contáctanos'
        %span.menu-button--direction
          %i.fa.fa-angle-right
    %li
      %a{:href => "#{public_faqs_path}", :title => "#{t('layouts.application.faqs')}"}
        %img{:alt => "", :src => "/assets/default/img/icon-help.png"}
        = t('layouts.application.faqs')
        %span.menu-button--direction
          %i.fa.fa-angle-right
    %li
      %a{:href => "#{public_how_it_works_path}", :title => "#{t('layouts.application.how_it_works')}"}
        %img{:alt => "", :src => "/assets/default/img/icon-gear.png"}
        = t('layouts.application.how_it_works')
        %span.menu-button--direction
          %i.fa.fa-angle-right
    -#%li
    -#  %a{:href => "#{public_who_are_we_path}", :title => "#{t('layouts.application.who_are_we')}"}
    -#    %img{:alt => "", :src => "/assets/default/img/icon-who-we-are.png"}
    -#    = t('layouts.application.who_are_we')
    -#    %span.menu-button--direction
    -#      %i.fa.fa-angle-right
  - if signed_in?
    %li
      %a{:href => "#{edit_user_path(current_user)}", :title => "#{t("layouts.partials.navbar.edit_my_account")}"}
        %img{:alt => "", :src => "/assets/default/img/icon-myAccount.png"}
        = 'Mi cuenta'
        %span.menu-button--direction
          %i.fa.fa-angle-right
    %li
      %a{:href => "/users/my_tickets", :title => "#{t("layouts.partials.navbar.edit_my_account")}"}
        %img{:alt => "", :src => "/assets/default/img/icon-myTickets.png"}
        = 'Mis Boletos'
        %span.menu-button--direction
          %i.fa.fa-angle-right
    %li
      %a{:href => "#{public_faqs_path}", :title => "#{t('layouts.application.faqs')}"}
        %img{:alt => "", :src => "/assets/default/img/icon-help.png"}
        = t('layouts.application.faqs')
        %span.menu-button--direction
          %i.fa.fa-angle-right
    %li
      %a{:href => "#{destroy_session_path}", :title => "#{t('layouts.partials.navbar.sign_out')}"}
        %img{:alt => "", :src => "/assets/default/img/icon-logout.png"}
        = t('layouts.partials.navbar.sign_out')
        %span.menu-button--direction
          %i.fa.fa-angle-right
  -# - else
  -#   = render 'devise/shared/links'
