/ Projects Row
.row
  .col-lg-12
    %h1.page-header
      Crear/Editar Rol
      %small= @role.name
    %ol.breadcrumb
      %li
        %a{:href => "/"} Inicio
      %li.active Roles
.panel.panel-primary.col-lg-12
  = form_for @role do |f|
    - if @role.errors.any?
      #error_explanation
        %h2= "#{pluralize(@role.errors.count, "error")} prohibited this role from being saved:"
        %ul
          - @role.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :name
      = f.text_field :name, class: 'form-control', required: true
    .field
      = f.label :superadmin
      = f.check_box :superadmin
    .field
      = f.label :default_user
      = f.check_box :default_user
    .field
      = f.label :custom
      = f.check_box :custom
    .field
      = f.label :description
      = f.text_area :description, class: 'form-control', required: true
    .field
      = f.label :code
      = f.text_field :code, class: 'form-control', required: true
      %br
    .actions
      = f.submit 'Aceptar', class: 'btn btn-primary'
