.event-categories
  .event-category
    = link_to root_path, title: t('layouts.application.sports') do
      = image_tag('/assets/bolettos/headers/sports.png', class: 'event-category-image')
    .event-category-image-caption
      = link_to t('layouts.application.sports'), root_path, title: t('layouts.application.sports')
  .event-category
    = link_to root_path, title: t('layouts.application.concerts') do
      = image_tag('/assets/bolettos/headers/concerts.png', class: 'event-category-image')
    .event-category-image-caption
      = link_to t('layouts.application.concerts'), root_path, title: t('layouts.application.concerts')
  .event-category
    = link_to root_path, title: t('layouts.application.shows') do
      = image_tag('/assets/bolettos/headers/shows.png', class: 'event-category-image')
    .event-category-image-caption
      = link_to t('layouts.application.shows'), root_path, title: t('layouts.application.shows')