#header.header.navbar.navbar-default.navbar-fixed-top
  / begin container-fluid
  .container-fluid
    / begin mobile sidebar expand / collapse button
    .navbar-header
      = link_to root_path, data: {disable_with: t('actions.returning',  model: t('layouts.application.home').titlecase)}, title: t('actions.return_to',  model: t('layouts.application.home')), class: 'navbar-brand' do
        %span.navbar-logo
        = t('layouts.application.title')
      %button.navbar-toggle{"data-click" => "sidebar-toggled", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    / end mobile sidebar expand / collapse button
    / begin header navigation right
    %ul.nav.navbar-nav.navbar-right
      %li
        %form.navbar-form.full-width
          .form-group
            %input.form-control{:placeholder => "Enter keyword", :type => "text"}
            %button.btn.btn-search{:type => "submit"}
              %i.fa.fa-search
      %li.dropdown
        %a.dropdown-toggle.f-s-14{"data-toggle" => "dropdown", :href => "javascript:;"}
          %i.fa.fa-bell-o
          %span.label 5
        %ul.dropdown-menu.media-list.pull-right.animated.fadeInDown
          %li.dropdown-header Notifications (5)
          %li.media
            %a{:href => "javascript:;"}
              .media-left
                %i.fa.fa-bug.media-object.bg-red
              .media-body
                %h6.media-heading Server Error Reports
                .text-muted.f-s-11 3 minutes ago
          %li.media
            %a{:href => "javascript:;"}
              .media-left
                %img.media-object{:alt => "", :src => "/assets/admin/img/user-1.jpg"}
              .media-body
                %h6.media-heading John Smith
                %p Quisque pulvinar tellus sit amet sem scelerisque tincidunt.
                .text-muted.f-s-11 25 minutes ago
          %li.media
            %a{:href => "javascript:;"}
              .media-left
                %img.media-object{:alt => "", :src => "/assets/admin/img/user-2.jpg"}
              .media-body
                %h6.media-heading Olivia
                %p Quisque pulvinar tellus sit amet sem scelerisque tincidunt.
                .text-muted.f-s-11 35 minutes ago
          %li.media
            %a{:href => "javascript:;"}
              .media-left
                %i.fa.fa-plus.media-object.bg-green
              .media-body
                %h6.media-heading New User Registered
                .text-muted.f-s-11 1 hour ago
          %li.media
            %a{:href => "javascript:;"}
              .media-left
                %i.fa.fa-envelope.media-object.bg-blue
              .media-body
                %h6.media-heading New Email From John
                .text-muted.f-s-11 2 hour ago
          %li.dropdown-footer.text-center
            %a{:href => "javascript:;"} View more
      - if signed_in?
        %li.dropdown.navbar-user
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:;"}
            %img{:alt => "", :src => current_user.logo.url}
            %span.hidden-xs= current_user.full_name
            %b.caret

          %ul.dropdown-menu.animated.fadeInLeft
            %li.arrow
            %li
              %a{:href => "javascript:;"} Edit Profile
            %li
              %a{:href => "javascript:;"}
                %span.badge.badge-danger.pull-right 2
                Inbox
            %li
              %a{:href => "javascript:;"} Calendar
            %li
              %a{:href => "javascript:;"} Setting
            %li.divider
            %li
              = link_to destroy_session_path, title: t('layouts.partials.navbar.sign_out') do
                %i.fa.fa-sign-out.user_session
                  = t('layouts.partials.navbar.sign_out')
      - else
        %li
          = link_to new_user_session_path, title: t('devise.links.sign_in') do
            %i.fa.fa-user.user_session
              = t('devise.links.sign_in')              