.modal.fade#newPerformerModal
  .modal-dialog
    .modal-content
      .modal-header
        %button{type:'button', class:'close', 'data-dismiss':'modal'}
          &times;
        %h4.modal-title 
          = t('performers.index.new_performer')
      = form_for(:performer, url: performers_remote_create_path, authenticity_token: true, html: {id: 'create_remote_performer admin-form', validates: true, format: :json, remote: true, multipart: true}) do |f|
        .modal-body
          .row
            .col-xs-12
              .unvalidated
                #unvalidedResponse
              .validated
                #validedResponse
          .row
            .col-xs-12
              .field
                %img.preview_image
              .field
                = f.file_field :avatar, validates: true, placement_error: 'bottom', i18n_name: t('performers.index.avatar'), rows: '10', required: false, placeholder: custom_placeholder('performers', 'avatar'), title: t('layouts.application.not_required'), accept: '.png, .gif, .jpg, .jpeg', :onchange=>"readURL(this, 300, 'auto','.preview_image');", class: 'form-control'
              .field
                = f.text_field :name, validates: true, placement_error: 'bottom', i18n_name: t('performers.index.name'), required: true, minlength: 1, maxlength: 200, validation_type: 'names', placeholder: custom_placeholder('performers', 'name'), title: t('layouts.application.required'), class: 'form-control'
              .field
                = f.cktext_area :description, validates: true, placement_error: 'bottom', i18n_name: t('performers.index.description'), rows: '10', required: true, minlength: 1, maxlength: 10000, validation_type: 'text', placeholder: custom_placeholder('performers', 'description'), title: t('layouts.application.not_required'), class: 'form-control'
        .modal-footer
          = f.submit nil, remote: true, data: {disable_with: disable_titles(action_name)}, title: get_title(nil, nil), class: 'btn btn-primary submit_button'
          = button_tag t('actions.close'), 'data-dismiss':'modal', title: t('actions.closing'), class: 'btn btn-white cancel_button'
